{% extends 'base.html' %}
  {% block title %}
      Create A New Profile
  {% endblock %}


{% block content %}
<div id="bg-image">
{% if user.is_authenticated %}
    <h1>Create Profile Page...</h1>
    <br/>
    <div class = "form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark">Create Profile Page</button>
        </form>
    </div>



{% else %}
you need to be logged in to add a post :)

{% endif %}
</div>
{% endblock %}


